services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    image: ${DOCKER_REGISTRY}/${DOCKER_REPOSITORY}/${DOCKER_IMAGE_NAME}:${DOCKER_IMAGE_TAG}
    env_file: ./.env
    container_name: ${ENV_PROJECT_NAME}
    ports:
      - "${DOCKER_PORT}:${DOCKER_PORT}"
    # volumes:
    #   - .:/app  # Disabled for production
    #   - /app/node_modules
    restart: unless-stopped
    command: sh -c "npm run build && serve -s build -l tcp://0.0.0.0:${DOCKER_PORT}"
